.App {
  text-align: center;
}


.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin:0 auto;
  
}

.headerBar {
  background-color: rgb(60, 62, 65);
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  top:0;
  position: sticky;
}

.headerBar > div {
  display: inline;
}

.flex-item {
  width: 25%;
  margin: 10px auto;
  
  display: block;
}

/* Was causing Off Center and overflows
div {
  display: flex;
  flex-wrap: wrap;
}
*/

.adminButton {
  box-Sizing: border-box;
  position: absolute;
  width: "5%";
  height: 51;
  left: 568;
  top: 42;
  background: #FFFFFF;
  border: "3px solid #CF8D62";
  color:"#CF8D62";
}


@media all and (max-width: 480px)  {
  .flex-item {
    width: 100%;
    display: inline-flex;    
  }

  .employeeText {
    padding-top:25%;
    padding-left: 5%;
  }

}

